@use "../global" as global;

.l-header {
  @include global.z-index(header);

  position: fixed;
  width: 100%;
  height: 80px;
  background-color: rgba(global.$color-white, 0.8);

  &__inner {
    @include global.inner(global.$width-base);

    display: flex;
    height: 100%;
    padding: 0 global.response-length(10, 20);
  }
}

@include global.media(sp) {

  .l-header {
    height: 80px;

    &__inner {
      flex-direction: column;
    }
  }
}
