@use "../global" as global;

.l-main {
  min-width: 300px;
}

// Top page settings
.l-fv {
  height: 100vh;
  width: 100%;

  @include global.media(sp) {
    height: calc(100vh - 60px);
  }

  &__inner {
    width: 100%;
    height: auto;
  }
}

.l-top-message {
  &__inner {
    @include global.inner(global.$width-inner);
    height: auto;
    padding: global.response-length(40, 60) global.response-length(20, 40);
  }
}

.l-benefit {
  background: global.$color-lightblue-bg;

  &__inner {
    @include global.inner(global.$width-inner);
    height: auto;
    padding: global.response-length(40, 60) global.response-length(20, 40);
  }
}

.l-flow {
  // background: global.$color-lightblue-bg;

  &__inner {
    @include global.inner(global.$width-inner);
    height: auto;
    padding: global.response-length(40, 60) global.response-length(20, 40);
  }
}

.l-customer {
  &__inner {
    @include global.inner(global.$width-inner);
    height: auto;
    padding: global.response-length(40, 60) global.response-length(20, 40);
  }
}

.l-access {
  height: 600px;
  width: 100%;

  &__inner {
    width: 100%;
    height: auto;
  }
}

.l-topbg {
  height: 400px;
  width: 100%;

  &__inner {
    width: 100%;
    height: auto;
  }
}

// Bottom page settings

.l-sub {
  height: 50vh;
  width: 100%;

  &__inner {
    width: 100%;
    height: auto;
  }
}

.l-subsection {
  &__inner {
    @include global.inner(global.$width-inner);
    height: 100%;
    padding: 60px 20px;
    padding: global.response-length(40, 60) 20px;
  }
}

.l-notfound {
  &__inner {
    @include global.inner(global.$width-inner);
    height: calc(100vh - 80px);
    padding: calc(50vh - 80px) 20px;
    text-align: center;
    font-weight: 400;
    font-size: global.rem(26);
  }
}

@include global.media(sp) {
  .l-notfound {
    &__inner {
      text-align: center;
      font-weight: 400;
      font-size: global.rem(20);
    }
  }
}

.l-campaign {
  min-width: 300px;
  width: 100%;
  position: absolute;
  width: 100%;
  top: 50vh;
}
