@use "../global" as global;

.l-main {
  min-width: 300px;
}

// Top page settings

.l-fv {
  width: 100%;
  height: 100vh;

  @include global.media(sp) {
    height: calc(100vh - 60px);
  }

  &__inner {
    width: 100%;
    height: auto;
  }
}

.l-top-message {

  &__inner {
    @include global.inner(global.$width-inner);

    height: auto;
    padding: global.response-length(40, 60) global.response-length(20, 40);
  }
}

.l-benefit {
  background: global.$color-lightblue-bg;

  &__inner {
    @include global.inner(global.$width-inner);

    height: auto;
    padding: global.response-length(40, 60) global.response-length(20, 40);
  }
}

.l-flow {
  // background: global.$color-lightblue-bg;

  &__inner {
    @include global.inner(global.$width-inner);

    height: auto;
    padding: global.response-length(40, 60) global.response-length(20, 40);
  }
}

.l-customer {

  &__inner {
    @include global.inner(global.$width-inner);

    height: auto;
    padding: global.response-length(40, 60) global.response-length(20, 40);
  }
}

.l-access {
  width: 100%;
  height: 700px;

  &__inner {
    width: 100%;
    height: auto;
  }
}

.l-topbg {
  width: 100%;
  height: 400px;

  &__inner {
    width: 100%;
    height: auto;
  }
}

// Bottom page settings

.l-sub {
  width: 100%;
  height: 50vh;

  &__inner {
    width: 100%;
    height: auto;
  }
}

.l-subsection {

  &__inner {
    @include global.inner(global.$width-inner);

    height: 100%;
    padding: 60px 20px;
    padding: global.response-length(40, 60) 20px;
  }
}

.l-notfound {

  &__inner {
    @include global.inner(global.$width-inner);

    height: calc(100vh - 80px);
    padding: calc(50vh - 80px) 20px;
    font-size: global.rem(26);
    font-weight: 400;
    text-align: center;
  }
}

@include global.media(sp) {

  .l-notfound {

    &__inner {
      font-size: global.rem(20);
      font-weight: 400;
      text-align: center;
    }
  }
}

.l-campaign {
  position: absolute;
  top: 50vh;
  width: 100%;
  min-width: 300px;
}
