@charset "UTF-8";

// ==========================================================================
// Variables
// ==========================================================================

// font
$font-base-ja: "Kaisei Decol", yugothic, "Yu Gothic", "メイリオ", meiryo,
  "ＭＳ Ｐゴシック", "MS PGothic";
$font-base-en: "Kaisei Decol", yugothic, "Yu Gothic", "メイリオ", meiryo,
  "ＭＳ Ｐゴシック", "MS PGothic";
$font-label: "Noto Sans CJK JP", "Noto Sans JP", "Lato", yugothic, "Yu Gothic", "メイリオ", meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
$baseFontSize: 16;

// width
$width-base: 1280px;
$width-inner: 1120px;
$width-access: 800px;

// color
$color-white: #FFFFFF;
$color-black: #333333;
$color-lightgray: #DFDFDF;
$color-hovergray: #F6F6F6;
$color-gray: #979797;
$color-red: #E64568;
$color-blue: #0053A6;
$color-light-blue: #0080FFB2;
$color-orange: #E84469;
$color-lightblue: #4EB331;
$color-lightblue-bg: #47C0DB52;
$color-label-pink: #E84469;
$color-flow-orange: #F9B823;
$color-campaign-orange: #FFE29F;

// z-index
$layer: (
  modal: 100,
  header: 20,
  tooltip: 10,
  default: 1,
);

// breakpoint
$sp-breakpoints: 767;
$tb-breakpoints: 1023;
$sp-breakpoints-px: $sp-breakpoints * 1px;
$tb-breakpoints-px: $tb-breakpoints * 1px;
$breakpoints: (
  sp: "only screen and (max-width: #{$sp-breakpoints-px})",
  tb: "only screen and (max-width: #{$tb-breakpoints-px})",
);
