@charset "UTF-8";

// ==========================================================================
// Variables
// ==========================================================================

// font
$font-base-ja: "Kaisei Decol", "Noto Sans CJK JP", "Noto Sans JP", "Lato",
  "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans",
  "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo,
  "ＭＳ Ｐゴシック", "MS PGothic";
$font-base-en: "Kaisei Decol", "Lato", "Noto Sans CJK JP", "Noto Sans JP",
  "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans",
  "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo,
  "ＭＳ Ｐゴシック", "MS PGothic";
$font-label: "Noto Sans CJK JP", "Noto Sans JP", "Lato", "Avenir",
  "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック",
  YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
$baseFontSize: 16;

// width
$width-base: 1280px;
$width-inner: 1120px;
$width-access: 800px;

// color
$color-white: #ffffff;
$color-black: #333333;
$color-lightgray: #dfdfdf;
$color-hovergray: #f6f6f6;
$color-gray: #979797;
$color-red: #e64568;
$color-blue: #0053a6;
$color-light-blue: #0080ffb2;
$color-orange: #e84469;
$color-lightblue: #4eb331;
$color-lightblue-bg: #47c0db52;
$color-label-pink: #e84469;
$color-flow-orange: #f9b823;
$color-campaign-orange: #ffe29f;

// z-index
$layer: (
  modal: 100,
  header: 20,
  tooltip: 10,
  default: 1,
);

// breakpoint
$sp-breakpoints: 767;
$tb-breakpoints: 1023;

$sp-breakpoints-px: $sp-breakpoints * 1px;
$tb-breakpoints-px: $tb-breakpoints * 1px;

$breakpoints: (
  sp: "only screen and (max-width: #{$sp-breakpoints-px})",
  tb: "only screen and (max-width: #{$tb-breakpoints-px})",
);
