@use "../../global" as global;

.c-card-customers {
  background-color: global.$color-white;
  display: flex;
  flex-direction: column;
  height: 280px;
  padding: global.response-length(16, 32);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

  &__logo-wrapper {
    flex-basis: 20%;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  &__logo {
    width: 80px !important;
    height: 80px !important;
    object-fit: contain !important;
  }

  &__body {
    display: flex;
    flex-basis: 85%;
    flex-direction: column;
  }

  &__attribute {
    font-family: global.$font-base-en;
    margin-bottom: 4px;
    @include global.font-settings(20, 22, 1.5, 600);
  }

  &__text {
    @include global.font-settings(16, 16, 1.5);
  }
}

@include global.media(tb) {
  .c-card-customers {
    height: 320px;
  }
}

@include global.media(sp) {
  .c-card-customers {
    height: auto;

    &__logo-wrapper {
      &--instructor {
        padding-bottom: 0.5rem;
      }
    }
  }
}
