@use "../../global" as global;

.c-card-flow {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title-wrapper {
    display: flex;
    align-items: flex-start;
    height: 76px;
    margin-bottom: 5px;

    @include global.media(sp) {
      height: auto;
    }
  }

  &__step {
    margin-right: 1rem;
    margin-left: 5px;
    color: global.$color-flow-orange;

    @include global.font-settings(36, 28, 1.2, bold);
  }

  &__title {
    margin-bottom: 10px;
    color: global.$color-blue;

    @include global.font-settings(20, 22, 1.5, normal);
  }

  &__icon-wrapper {
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 8px;

    & > div {
      width: 100%;
    }

    & img {
      object-fit: cover;
    }
  }

  &__text {
    margin-bottom: 8px;
    color: global.$color-blue;

    @include global.font-settings(16, 16, 1.5, normal);
  }

  &__arrow-wrapper {
    position: absolute;
    top: 0;
    right: -28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include global.media(sp) {
      top: auto;
      bottom: -45px;
      left: 0;
      width: 100%;
      height: 24px;
    }
  }

  &__arrow {
    fill: global.$color-blue;

    @include global.media(sp) {
      transform: rotate(90deg);
    }
  }
}
