@use "../../global" as global;

.c-card-benefit {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 10px;
    color: global.$color-blue;
    @include global.font-settings(22, 24, 1.5, normal);
  }

  &__icon-wrapper {
    width: 230px;
    height: 230px;
    margin-top: global.response-length(20, 40);
    margin-bottom: global.response-length(30, 50);

    & img {
      border-radius: 50%;
    }
  }

  &__text {
    margin-bottom: 5px;
    color: global.$color-blue;
    @include global.font-settings(16, 16, 1.5, normal);
  }
}
