@use "../../global" as global;

.c-card-instructors {
  display: flex;
  height: 300px;
  padding: 1rem;

  &__nolink {
    display: flex;
    height: 300px;
    padding: 1rem;
  }

  &__logo-wrapper {
    flex-basis: 20%;
    padding: 0 10px;

    &--instructor {
      flex-basis: 8%;
      padding: 0;
    }
  }

  &__logo {
    width: 80px !important;
    height: 80px !important;
    object-fit: contain !important;
  }

  &__body {
    display: flex;
    flex-basis: 85%;
    flex-direction: column;
  }

  &__janame {
    font-family: global.$font-base-en;
    @include global.font-settings(20, 22, 1.5, 600);
  }

  &__enname {
    margin-bottom: 4px;
    font-family: global.$font-base-en;
    @include global.font-settings(18, 18, 1.5, 300);
  }

  &__title {
    display: flex;
    margin-bottom: 4px;
    @include global.font-settings(16, 18, 1.5);
  }

  &__text {
    @include global.font-settings(16, 16, 1.5);
  }
}

// @include global.media(tb) {
//   .c-card-instructors {
//     height: 250px;
//   }
// }

@include global.media(sp) {
  .c-card-instructors {
    height: auto;

    &__nolink {
      height: auto;
    }

    &__logo-wrapper {
      &--instructor {
        padding-bottom: 0.5rem;
      }
    }
  }
}
