@use "../../global" as global;

.c-card-benefit {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    height: global.rem(72);
    margin-bottom: 10px;
    color: global.$color-blue;

    @include global.font-settings(22, 24, 1.5, normal);

    @include global.media(sp) {
      height: auto;
    }
  }

  &__icon-wrapper {
    width: 280px;
    height: 280px;
    margin-top: global.response-length(20, 40);
    margin-bottom: global.response-length(30, 50);

    & img {
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__text {
    margin-bottom: 8px;
    color: global.$color-blue;

    @include global.font-settings(16, 16, 1.5, normal);
  }

  &:first-child {

    & .c-card-benefit__icon-wrapper img {
      object-position: center right;
    }
  }
}
