@use "../../global" as global;

.c-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: global.response-length(100, 160);
  height: global.response-length(100, 160);
  border: none;
  border-radius: 50%;
  background-color: global.$color-label-pink;

  &-font {
    color: global.$color-white;
    text-decoration: none;
    text-align: center;
    font-family: global.$font-label;
    @include global.font-settings(16, 20, 1.5, 900);

    &--large {
      @include global.font-settings(24, 28, 1.5, 900);
    }
  }

  &--campaign {
    width: global.response-length(100, 140);
    height: global.response-length(100, 140);
    background-color: global.$color-orange;
    transform: rotate(-10deg);

    @include global.media(sp) {
      & br {
        display: none;
      }
      transform: rotate(0);
      width: 100%;
      height: 40px;
      border-radius: 0;
      background-color: transparent;
      & .c-label-font {
        color: global.$color-orange;
      }
    }
  }
}

.c-require-label {
  display: inline-block;
  width: 56px;
  max-width: 100%;
  margin-left: 15px;
  padding: 2px;
  border: none;
  background-color: global.$color-orange;
  color: global.$color-white;
  font-weight: normal;
  font-size: global.rem(14);
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 30px;
}
