@use "../../global" as global;

.u-effect-fadein {
  opacity: 0;
  animation-name: fadeInAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;

  // position: relative;
}

@keyframes fadeInAnime {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
