@use "../../global" as global;

.p-body {

  &__wrapper {
    margin-bottom: global.response-length(15, 40);
  }

  &__text {
    width: 90%;
    // padding: global.response-length(10, 15) global.response-length(10, 40);
    margin: 0 auto;
    margin-bottom: 20px;
    color: global.$color-blue;

    @include global.font-settings(18, 20, 1.5, normal);

    @include global.media(sp) {
      width: auto;
      margin: 0 10px;
      margin-bottom: 10px;
    }
  }

  &__text-h3 {
    width: 90%;
    // padding: 0 global.response-length(12, 64);
    margin: 0 auto;
    color: global.$color-black;

    @include global.font-settings(18, 20, 1.5, normal);

    @include global.media(sp) {
      width: auto;
      margin: 0 10px;
    }

    &--pc {
      @include global.media(sp) {
        display: none;
      }
    }

    &--sp {
      display: none;

      @include global.media(sp) {
        display: inline-block;
        width: auto;
      }
    }
  }

  &__list {
    padding: global.response-length(10, 15) global.response-length(35, 64);
    color: global.$color-blue;
    list-style-type: square;

    @include global.font-settings(20, 24, 1.5, normal);
  }
}
