@use "../../global" as global;

.p-body {
  &__wrapper {
    margin-bottom: global.response-length(15, 40);
  }

  &__text {
    padding: global.response-length(10, 15) global.response-length(10, 40);
    color: global.$color-blue;
    @include global.font-settings(20, 24, 1.5, normal);
  }

  &__list {
    padding: global.response-length(10, 15) global.response-length(48, 64);
    color: global.$color-blue;
    list-style-type: square;
    @include global.font-settings(24, 28, 1.5, normal);
  }
}
