@use "../../global" as global;

$col_num: 2;
$card_margin: 50px;

.p-cards-customers {
  display: flex;
  flex-wrap: wrap;
}

.p-cards-customers--col2 {
  margin-bottom: -40px;

  & > .p-cards-customers__item {
    // カラム数、カード間マージンから、カードの幅を算出
    width: calc(
      #{percentage(calc(100 / $col_num) * 0.01)} - #{$card_margin} *
        calc(#{$col_num - 1} / #{$col_num})
    );

    //flex-direction: column;
    height: auto;
    margin-right: $card_margin;
    margin-bottom: 40px;

    // 右端のカードのマージンを0に設定
    &:nth-of-type(#{$col_num}n) {
      margin-right: 0;
    }
  }
}

@include global.media(sp) {
  $col_num: 1;
  $card_margin: 30px;

  .p-cards-customers {
    display: flex;
    flex-wrap: wrap;
  }

  .p-cards-customers--col2 {
    margin-bottom: -40px;

    & > .p-cards-customers__item {
      // カラム数、カード間マージンから、カードの幅を算出
      width: calc(
        #{percentage(calc(100 / $col_num) * 0.01)} - #{$card_margin} *
          calc(#{$col_num - 1} / #{$col_num})
      );

      //flex-direction: column;
      height: auto;
      margin-right: $card_margin;
      margin-bottom: 40px;

      // 右端のカードのマージンを0に設定
      &:nth-of-type(#{$col_num}n) {
        margin-right: 0;
      }
    }
  }
}

.p-cards {
  display: flex;
  flex-wrap: wrap;
}

.p-cards--col2 {
  $col_num: 2;
  $margin-x: 50px;
  $margin-y: 40px;
  height: auto;
  @include global.cards($col_num, $margin-x, $margin-y);
}
