@use "../../global" as global;

.p-cards {
  display: flex;
  flex-wrap: wrap;
}

.p-cards--col3 {
  $col_num: 3;
  $margin-x: 60px;
  $margin-y: 30px;
  height: auto;
  @include global.cards($col_num, $margin-x, $margin-y);
}
