@use "../../global" as global;

.p-contact {

  &__main {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  &__form {
    width: 400px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
  }

  &__label {
    margin-bottom: 10px;
    color: global.$color-blue;

    @include global.font-settings(16, 16);
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    padding: global.response-length(8, 16);
    background-color: global.$color-hovergray;
    border: 1px solid global.$color-gray;
    border-radius: 30px !important;

    @include global.font-settings(16, 16);
  }

  &__message {
    box-sizing: border-box;
    width: 100%;
    height: 9rem;
    padding: global.response-length(8, 16);
    background-color: global.$color-hovergray;
    border: 1px solid global.$color-gray;
    border-radius: 20px;

    @include global.font-settings(16, 16);
  }
}

@include global.media(sp) {

  .p-contact {

    &__main {
      width: 100%;
      margin: 0;
    }

    &__form {
      width: 100%;
      padding: 0 10px;
    }
  }
}
