@use "../../global" as global;

.p-campaign {

  &__wrapper {
    position: relative;
    width: 100%;
    height: 50vh;

    @include global.media(sp) {
      height: calc(50vh - 60px);
    }
  }

  &__image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
  }

  &__content-inner {
    @include global.inner(global.$width-access);

    position: absolute;
    top: 50%;
    left: 50%;
    width: global.percent-length(1280, 1000);
    height: auto;
    padding: global.response-length(20, 30) global.response-length(20, 30);
    transform: translate(-50%, -50%);

    @include global.media(sp) {
      top: 40%;
      width: 100%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 15px global.response-length(10, 20) 10px
      global.response-length(10, 20);
    background-color: rgba(global.$color-campaign-orange, 1);
    filter: drop-shadow(0 1px 6px rgb(0 0 0 / 25%));

    @include global.media(height) {
      padding: 5px;
    }
  }

  &__text {
    padding-bottom: 5px;
    color: global.$color-blue;

    @include global.font-settings(22, 32, 1.5, 800);

    @include global.media(sp) {
      padding-bottom: 0;
    }

    @include global.media(height) {
      @include global.font-settings(18, 28, 1.1, 800);
    }
  }

  &__content {
    display: flex;
    width: 100%;
  }

  &__label-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
  }

  &__price-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin-right: 5px;

    @include global.media(sp) {
      margin-right: 0;
    }
  }

  &__normal-price {
    width: 100%;
    margin-bottom: 15px;
    margin-left: 15px;

    @include global.font-settings(16, 18, 1.2, 400);

    &--large {
      color: global.$color-orange;

      @include global.font-settings(28, 38, 1.2, 600);
    }

    @include global.media(sp) {
      padding-bottom: 0;
    }

    @include global.media(height) {
      @include global.font-settings(14, 16, 1.1, 400);

      margin-bottom: 5px;

      &--large {
        @include global.font-settings(20, 26, 1.2, 600);
      }
    }
  }

  &__price {
    width: 100%;
    margin-bottom: 10px;

    @include global.font-settings(20, 20, 1.2, 400);

    &--large {
      color: global.$color-orange;

      @include global.font-settings(28, 38, 1.2, 600);
    }

    @include global.media(height) {
      @include global.font-settings(14, 16, 1.1, 400);

      margin-bottom: 5px;

      &--large {
        @include global.font-settings(20, 26, 1.2, 600);
      }
    }
  }
}

@include global.media(sp) {

  .p-campaign {

    &__content-inner {
      width: 100%;
      height: auto;
    }

    &__table {
      width: 100%;
      margin-bottom: 40px;
    }

    &__tr {
      border-bottom: solid 1px global.$color-blue;
    }

    &__td {
      display: block;
      text-align: center;
    }

    &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      & > a {
        width: 100%;
      }
    }

    &__content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__label-wrapper {
      width: 100%;
      margin-bottom: 5px;
    }

    &__price-wrapper {
      width: 100%;
      margin-bottom: 5px;
    }

    &__normal-price {
      margin-left: 0;
      text-align: start;
    }

    &__price {
      text-align: center;
    }
  }
}

.l-price__campaign-wrapper {

  & .p-campaign__wrapper {
    margin-bottom: -60px;

    @include global.media(sp) {
      height: 50vh;
      margin-bottom: -40px;
    }
  }
}
