@use "../../global" as global;

.p-cards {
  display: flex;
  flex-wrap: wrap;
}

.p-cards--col2 {
  $col_num: 2;
  $margin-x: 50px;
  $margin-y: 40px;

  height: auto;

  @include global.cards($col_num, $margin-x, $margin-y);

  margin-bottom: -40px;
}

.p-cards--col3 {
  $col_num: 3;
  $margin-x: 60px;
  $margin-y: 30px;

  height: auto;

  @include global.cards($col_num, $margin-x, $margin-y);

  margin-bottom: -30px;
}

.p-cards-flow--col4 {
  $col_num: 4;
  $margin-x: 40px;
  $margin-y: 70px;

  height: auto;

  @include global.cards($col_num, $margin-x, $margin-y);

  margin-bottom: -70px;
}
