@use "../../global" as global;

.p-facility-content{
  &__wrapper{
    display: flex;
  }

  &__map{
    flex-basis: 50%;
    // padding-left: 20px;
  }

  &__body-wrapper{
    flex-basis: 50%;
  }

  &__image-wrapper{
    flex-basis: 50%;
  }

  &__address{
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

}

@include global.media(sp) {
.p-facility-content{
    &__wrapper{
      flex-direction: column-reverse;
    }
  }
}
