@use "../../global" as global;

.p-footer {
  margin-left: auto;
  font-family: global.$font-base-en;
  font-weight: bold;
  color: global.$color-white;

  @include global.font-settings(16, 18);
}
