@use "../../global" as global;

.p-facility-content {
  &__wrapper {
    display: flex;
  }

  &__map {
    flex-basis: 50%;
    // padding-left: 20px;
  }

  &__body-wrapper {
    width: calc(50vw - 20px);
  }

  &__image-wrapper {
    width: calc(50vw - 20px);
  }
  &__image {
    aspect-ratio: 5/ 3 !important;
    width: 100%;
  }
  &__image > img {
    aspect-ratio: 5/ 3 !important;
    width: 100%;
    object-fit: contain !important;
  }
  &__thumbnail {
    cursor: pointer;
  }

  &__address {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.image-gallery-thumbnail.active {
  border-color: global.$color-blue !important;
}

.image-gallery-thumbnail:hover {
  border-color: global.$color-blue !important;
}

@include global.media(sp) {
  .p-facility-content {
    &__wrapper {
      flex-direction: column;
    }
    &__wrapper--reverse {
      flex-direction: column-reverse;
    }
    &__image-wrapper {
      width: 100%;
      aspect-ratio: 5/ 3;
    }
    &__body-wrapper {
      width: 100%;
    }
    &__image{
      aspect-ratio: inherit;
    }
    &__image > img {
      aspect-ratio: inherit;
      object-fit: cover;
    }

    &__map {
      position: relative;
      width: 100%;
      padding: calc(3 / 5 * 100%) 0 0;
    }
    &__iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
