@use "../../global" as global;

.p-fv {
  &__wrapper {
    height: 100vh;
    position: relative;
    @include global.media(sp) {
      height: calc(100vh - 60px);
    }
  }

  &__image-wrapper div {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    @include global.media(sp) {
      height: calc(100vh - 60px);
    }
  }

  &__content-inner {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    @include global.inner(global.$width-inner);
    padding: 0 global.response-length(10, 20);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    @include global.media(sp) {
      height: calc(100vh - 60px);
      top: 35%;
    }
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }

  &__title {
    color: global.$color-white;
    font-family: global.$font-base-en;
    text-shadow: 2px 2px 3px #808080;
    @include global.font-settings(28, 48, 1.2, 300);
  }

  &__text {
    color: global.$color-white;
    margin-left: 20px;
    text-shadow: 2px 2px 3px #808080;
    @include global.font-settings(18, 30, 1.5, bold);
  }

  &__icon-wrapper {
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    padding-bottom: 80px;
    padding-right: global.response-length(20, 40);
  }
}

// @include global.media(sp) {
//   .p-fv {
//     &__title-wrapper {
//       margin-right: auto;
//       margin-left: auto;
//     }

//     &__title {
//       font-size: global.rem(30);
//     }

//     &__text {
//       margin-right: auto;
//       margin-left: auto;
//       font-size: global.rem(16);
//     }
//   }
// }
