@use "../../global" as global;

.p-fv {
    &__title-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-right: auto;
        margin-bottom: 60px;
        margin-left: 100px;
    }

    &__wrapper {
        height: 100vh;
        position: relative;
    }

    &__image-wrapper{
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
    }

    &__title-wrapper {
        position: absolute;
        top: 50%;
        left: 20%;
    }

    &__title {
        color: global.$color-white;
        font-weight: 300;
        font-size: global.rem(60);
        font-family: global.$font-base-en;
    }

    &__title-point {
        color: #0c4579;
    }

    &__text {
        color: global.$color-white;
        margin-left: 20px;
        font-weight: 300;
        font-size: global.rem(20);
        line-height: calc(24 / 16);
    }
}

@include global.media(sp) {
    .p-fv {
        &__title-wrapper {
            margin-right: auto;
            margin-left: auto;
        }

        &__title {
            font-size: global.rem(30);
        }

        &__text {
            margin-right: auto;
            margin-left: auto;
            font-size: global.rem(16);
        }
    }
}
