@use "../../global" as global;

.p-header-logo {
  display: flex;
  width: global.response-length(180, 280);
  height: 100%;
  padding: 5px 0;
  margin-right: auto;
  text-decoration: none;

  &__link {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__image-wrapper {
    width: 100%;
    height: 100%;
  }

  &__image {

    & img {
      object-fit: contain !important;
    }
  }
}

@include global.media(sp) {

  .p-header-logo {
    width: 60%;
    margin-left: auto;
  }
}

.p-header-nav {
  display: flex;
  width: calc(100% - global.response-length(180, 280));
  height: 100%;
  margin-left: auto;

  &__list {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
  }

  &__item {
    margin-right: global.response-length(5, 30);

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    font-family: global.$font-base-en;
    text-decoration: none;
    cursor: pointer;

    @include global.font-settings(14, 20, 1.5, 500);

    &:hover,
    &:focus,
    &:active,
    &:visited,
    &:link {
      color: global.$color-blue;
    }

    &::after {
      position: absolute;
      bottom: -14px;
      left: 0;
      width: 100%;
      visibility: hidden;
      content: "";
      border-color: global.$color-blue;
      border-width: 5px;
      border-bottom: dotted;
      opacity: 0;
      transition: 0.3s;
    }

    &:hover::after {
      bottom: -10px;
      visibility: visible;
      opacity: 1;
    }

    &.current {
      position: relative;
      display: inline-block;

      &::before {
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        content: "";
        border-color: global.$color-blue;
        border-width: 5px;
        border-bottom: dotted;
      }

      &:hover::after {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}

@include global.media(sp) {

  .p-header-nav {
    display: none;
  }
}
