@use "../../global" as global;

.p-price-table {
  &__table {
    color: global.$color-blue;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: global.rem(24);
  }

  &__tbody {
    color: global.$color-blue;
    border-top: solid 1px global.$color-light-blue;
    border-bottom: solid 1px global.$color-light-blue;
  }

  &__thead {
    background-color: global.$color-light-blue;
    color: global.$color-white;
  }

  &__th {
    padding: 10px 5px;
  }

  &__td {
    color: global.$color-blue;
    padding: 10px 5px;
    text-align: center;

    &--single-row-th {
      background-color: global.$color-light-blue;
      color: global.$color-white;
      width: 60%;
      font-weight: bold;
    }
    &--single-row-td {
      border-right: solid 1px global.$color-light-blue;
      width: 40%;
    }
  }

  &__link {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
}

@include global.media(sp) {
  .p-price-table {
    &__table {
      width: 100%;
      margin-bottom: 40px;
    }

    &__tbody {
      border-top: unset;
      border-bottom: unset;
    }

    &__thead {
      display: none;
    }

    &__td {
      &--single-row-th {
        width: auto;
      }
      &--single-row-td {
        border-right: none;
        width: auto;
      }
    }

    &__td--mobile-th {
      background-color: global.$color-light-blue;
      color: global.$color-white;
      font-size: global.rem(24);
      margin-top: 15px;
      margin-bottom: 15px;
      margin-right: 10px;
      margin-left: 10px;
    }

    &__td--mobile-price,
    &__td--mobile-price-month,
    &__td--mobile-price-school,
    &__td--mobile-total,
    &__td--mobile-time,
    &__td--mobile-desc {
      padding: 10px 10%;
      text-align: start;
    }
    &__td--mobile-price {
      &:before {
        content: "料金： ";
      }
    }
    &__td--mobile-price-month {
      &:before {
        content: "月会費（税込）： ";
      }
    }
    &__td--mobile-time {
      &:before {
        content: "利用可能時間： ";
      }
    }

    &__td--mobile-desc {
      &:before {
        content: "50分／1回 打席料（税込）: ";
      }
    }
    &__td--mobile-price-school {
      &:before {
        content: "スクール会費（税込）: ";
      }
    }
    &__td--mobile-total {
      &:before {
        content: "合計（税込）: ";
      }
    }
    &__td {
      display: block;
    }
  }
}
