@use "../../global" as global;

.p-price-table {

  &__wrapper {
    padding-bottom: 40px;
  }

  &__table {
    width: 90%;
    margin: 0 auto;
    font-size: global.rem(22);
    color: global.$color-blue;
  }

  &__tbody {
    color: global.$color-blue;
    border-top: solid 1px global.$color-light-blue;
    border-bottom: solid 1px global.$color-light-blue;
  }

  &__thead {
    color: global.$color-white;
    background-color: global.$color-light-blue;
  }

  &__th {
    padding: 10px 5px;
  }

  &__td {
    padding: 10px 5px;
    color: global.$color-blue;
    text-align: center;

    &--single-row-th {
      width: 60%;
      font-weight: bold;
      color: global.$color-white;
      background-color: global.$color-light-blue;
    }

    &--single-row-td {
      width: 40%;
      border-right: solid 1px global.$color-light-blue;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  &__annotation-wrapper {
    width: 100%;
    width: 90%;
    padding-top: 15px;
    margin: 0 auto;
    font-size: global.rem(16);
    color: global.$color-light-blue;
    text-align: end;
  }

  &__annotation {
    font-size: global.rem(16);
    line-height: 1.4;
    color: global.$color-light-blue;
  }
}

@include global.media(sp) {

  .p-price-table {

    &__wrapper {
      margin-bottom: 40px;
    }

    &__table {
      width: 100%;
      margin-bottom: 15px;
    }

    &__tbody {
      border-top: unset;
      border-bottom: unset;
    }

    &__thead {
      display: none;
    }

    &__td {
      font-size: global.rem(18);

      &--single-row-th {
        width: auto;
      }

      &--single-row-td {
        width: auto;
        border-right: none;
      }
    }

    &__td--mobile-th {
      margin-top: 15px;
      margin-right: 10px;
      margin-bottom: 15px;
      margin-left: 10px;
      font-size: global.rem(22);
      color: global.$color-white;
      background-color: global.$color-light-blue;
    }

    &__td--mobile-price,
    &__td--mobile-price-month,
    &__td--mobile-price-school,
    &__td--mobile-total,
    &__td--mobile-time,
    &__td--mobile-desc {
      padding: 10px 5%;
      text-align: start;
    }

    &__td--mobile-price {
      position: relative;
      text-align: end;

      &::before {
        position: absolute;
        left: 5%;
        content: "料金： ";
      }
    }

    &__td--mobile-price-month {
      position: relative;
      text-align: end;

      &::before {
        position: absolute;
        left: 5%;
        content: "月会費（税込）： ";
      }
    }

    &__td--mobile-time {
      position: relative;
      text-align: end;

      &::before {
        position: absolute;
        left: 5%;
        content: "利用可能時間： ";
      }
    }

    &__td--mobile-desc {
      position: relative;
      text-align: end;

      &::before {
        position: absolute;
        left: 5%;
        content: "50分／1回 打席料（税込）: ";
      }
    }

    &__td--mobile-price-school {
      position: relative;
      text-align: end;

      &::before {
        position: absolute;
        left: 5%;
        content: "スクール会費（税込）: ";
      }
    }

    &__td--mobile-total {
      position: relative;
      text-align: end;

      &::before {
        position: absolute;
        left: 5%;
        content: "合計（税込）: ";
      }
    }

    &__td {
      display: block;
    }

    &__annotation-wrapper {
      width: auto;
      padding-top: 15px;
      margin: 0 10px;
    }

    &__annotation {
      display: inline-block;
      width: 100%;
      padding-left: 1em;
      text-align: start;
      text-indent: -1em;
    }
  }
}
