@use "../../global" as global;

.p-qa {

  &__wrapper {
    padding: 0 global.response-length(0, 40);
  }

  &__body {
    margin-bottom: global.response-length(50, 60);
  }

  &__question {
    padding-left: 1em;
    margin-bottom: global.response-length(8, 16);
    color: global.$color-lightblue;
    text-indent: -1em;
    word-wrap: break-word;

    @include global.font-settings(20, 24);
  }

  &__underline {
    border-color: global.$color-lightblue;
    border-width: global.response-length(3, 5);
    border-bottom: dotted;
  }

  &__answer {
    padding-left: global.response-length(32, 32);
    color: global.$color-blue;
    text-indent: -1em;
    word-wrap: break-word;

    @include global.font-settings(18, 20);
  }
}
