@use "../../global" as global;

.p-route {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  @include global.media(sp) {
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
  }

  &__content {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    height: 300px;
    @include global.media(sp) {
      flex-direction: column-reverse;
      height: auto;
      margin-bottom: 15px;
    }
  }
  &__image-wrapper {
    width: 50%;
    display: flex;
    & figure {
      width: 100%;
      margin: 5px;
    }
    @include global.media(sp) {
      width: 100%;
      aspect-ratio: calc(16 / 9);
      overflow: hidden;
    }
  }

  &__desc-wrapper {
    width: 50%;
    margin: 5px;
    @include global.media(sp) {
      width: 100%;
      margin-bottom: -20px;
    }
  }

  &__desc {
    @include global.font-settings(16, 20, 1.5, normal);
  }
}
